<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="ModLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <userSettings>
    <ModLoader.Properties.Settings>
      <setting name="LoaderMainPanelSplit" serializeAs="String">
        <value>0.55</value>
      </setting>
      <setting name="LoaderTopPanelSplit" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="LoaderBottomPanelSplit" serializeAs="String">
        <value>0.35</value>
      </setting>
      <setting name="LoaderPacksPanelSplit" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="LoaderDetailsPanelSplit" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="LoaderOtherPanelSplit" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="LoaderPropActionPanelSplit" serializeAs="String">
        <value>0.75</value>
      </setting>
      <setting name="LoaderAppWidth" serializeAs="String">
        <value>0.45</value>
      </setting>
      <setting name="LoaderAppHeight" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="MergerMainPanelSplit" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="MergerTopPanelSplit" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="MergerBottomPanelSplit" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="MergerLeftPanelSplit" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="MergerAppWidth" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="MergerAppHeight" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="UpdaterMainPanelSplit" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="UpdaterLeftPanelSplit" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="UpdaterTopPanelSplit" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="UpdaterDetailsPanelSplit" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="UpdaterAppWidth" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="UpdaterAppHeight" serializeAs="String">
        <value>0.6</value>
      </setting>
    </ModLoader.Properties.Settings>
  </userSettings>
</configuration>